*{
    margin: 0;
    padding: 0;
}
.logo1{
    margin: 0px 12px;
}
.nav-wrapper{
    background-color: #6f4037;
}
/* css for changing silder dot colour */
.slider .indicators .indicator-item.active {
    background-color: #6f4037;
}

.move_1{
    margin-top: 20px;
    margin-bottom: 10px;
}

#grid_img1{
    object-fit: contain;
    height: 200px;
    width: auto;
}

.card_row1{
    padding-left: 50px;
    padding-right: 50px;
}
.card_col1{
    padding: 50px 5px;
}
.c{
    height: 43vh;
}
.parallax-container{
    min-height: 300px;
    height: auto;
}

.icon-coffee{
    color: #6f4037;
}
.footer-one{
    background: #6f4037;
}
.footer-two{
    background: #462822;
    margin-bottom: 0;
}